<div
  class="container"
  style="width: 1000px; background-color: rgb(175, 194, 196); height: 800px"
>
  <h1 style="text-align: center">Welcome to My Portfolio</h1>
  
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="nav nav-tabs" style="background-color: rgb(19, 61, 248)">
          <li
            role="presentation"
            class="nav-item"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
          >
            <a class="nav-link" style="color: aliceblue" routerLink="/">Home
            <h1></h1></a>
          </li>
          <li role="presentation" class="nav-item" routerLinkActive="active">
            <a class="nav-link" style="color: aliceblue" routerLink="signin"
              >Sign In</a
            >
          </li>
          <li role="presentation" class="nav-item" routerLinkActive="active">
            <a class="nav-link" style="color: aliceblue" routerLink="signup"
              >Sign Up</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
